<!-- Site footer -->
<footer class="site-footer">
    <div >
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>About</h6>
                <p class="text-justify">We did this work once wiht just express nad now you are watching that we've done
                    this for second time.doing same project for second time just with different tools is just a
                    torture;)...but we should tolerate this tortures to become a good programmer:-D ;but let me to be honest;
                    front is disgusting＞︿＜</p>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Categories</h6>
                <ul class="footer-links">
                    <li><a>Node js</a></li>
                    <li><a>UI Design</a></li>
                    <li><a>Html</a></li>
                    <li><a>Css</a></li>
                    <li><a>Ejs</a></li>
                    <li><a>Express</a></li>
                </ul>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Masters</h6>
                <ul class="footer-links">
                    <li><a>Ramin Afhami</a></li>
                    <li><a>Amir Alamian</a></li>
                    <li><a>Ali MohammadAli Rajab</a></li>
                    <li><a>Saeed Ahadian</a></li>
                    <li><a>Amin Alizade</a></li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-6 col-xs-12">
                <p class="copyright-text">Copyright &copy; 2021 All Rights Reserved by
                    Usef.</p>
            </div>

            <div class="col-md-4 col-sm-6 col-xs-12">
                <ul class="social-icons">
                    <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a class="dribbble" href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>