<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.rtl.min.css" integrity="sha384-4dNpRvNX0c/TdYEbYup8qbjvjaMrgUPh+g4I03CnNtANuv+VAvPL6LqdwzZKV38G" crossorigin="anonymous">
  <link rel="stylesheet" href="style/footer.css">
  <link rel="stylesheet" href="style/style.css" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>
<body>
  <div class="container">
    <%- include('../partials/head.ejs')  -%> 
    <div class="whatWeDo"><h3>درباره ما</h3></div>
    <div class="contain" >
    <div class="boxes " >
      <h5 class="title" >هدف ما </h5>
      <p class="texts" > هدف نهایی ما رضایت مشتری است و همچنین شنیدن انتقادات و پیشنهادات شما برای بهبود کیفیت محصولاتمان. وهمچنین رضایت هر چه بیشتر شما از ماست.</p>
    </div>

    <div class="boxes " >
      <h5 class="title" >تیم ما</h5>
      <p class="texts" >تیمی وجود ندارد.من مانده ام تنهای تنها....این اولین تمرین سری 14 بود...خدا  رحم کنه برای بقیه تمارین:)</p>
    </div>

    <div class="boxes " >
      <h5 class="title" >اساتید ما </h5>
      <p class="texts" > تشکر ویژه دارم از اساتید مجرب که من را تا این مرحله رسوندند و پیشرفت دادند و همیشه جوابگوی سوالاتم بودند.</p>
    </div>
   
  </div>


  <%- include('../partials/footer.ejs')  -%> 
  </div>
  
  <script src="../../js/search.js"></script>
</body>
</html>